.canvasImage {
    width: 400px;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #081132;
    outline: 5px solid #3A466C;
}

.downloadLink {
    color: white;
}