.board {
    background: url('./../../../public/asset/Board.jpg');
    width: 600px;
    height: 600px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 8px;
    border: 1px solid #081132;
    outline: 5px solid #3A466C;

    .score {
        position: relative;
        top: 100%;
        left: 0;
        color: white;
    }
    
    .death {
        position: relative;
        top: 100%;
        right: 0;
        color: white;
    }
}


@media (max-width: 600px) {
    .board {
        scale: 0.75;
    }
    
}