.item {
    width: 12px;
    height: 12px;
    position: absolute;
    // border: 1px solid white;

    &_trap {
        background-color: black;
    }

    &_food {
        background-color: red;
    }
}